langchain
langchain-core
langchain-openai
langchain-google-genai
langchain-postgres
langchain-text-splitters
fastapi
uvicorn
python-frontmatter
psycopg[binary]
python-dotenv
pydantic
pydantic-settings
PyYAMLopentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http
